# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

#ignore some folders in client and server
client/build 
client/node_modules
server/.env

# misc
#.env

#the logs too 
npm-debug.log*
yarn-debug.log*
yarn-error.log*
