# dependencies
client/node_modules
server/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
client/build

#basically build renamed public on server side 
server/public 

# misc
.env

#the logs too 
npm-debug.log*
yarn-debug.log*
yarn-error.log*
