.usersList {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 2vw;
  box-sizing: border-box;
  min-height: calc(65vh);
  overflow-y: auto;
  overflow-x: auto;
}
.userListItem{
  text-align: "left";
  margin-bottom: "2vh" ;
}
.userBubble {
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  position: relative;
  padding: 1vw;
  min-width: 30vw;
  margin-bottom: -1em;
  border-radius: 10px;
  color: white;
  }

.scenario-container {
    display: grid;
    flex-direction: column;
    margin-top: 2em;
    margin-left: -1em;
  }
.scenario-header {
    color: white;
    margin: 2px;
    padding: 1em;
    font-size: smaller;
    font-weight: bold;
  }
  
.scenario-message {
  color: white;
  margin: 2px;
  position: relative;
  min-width: 40vw;
  padding-top: 1em;
  padding-left: 0.5em;
  padding-right: 1em;
  padding-bottom: 1em;
  font-size: medium;
  font-weight: bold;
  inline-size: 150px;
  overflow-wrap: break-word;
 /*word-break: break-all;*/
}